/*
!/.gitignore
!/.nojekyll
!/README.md
!/index.html
!/sw.js
!/manifest.webmanifest
!/src/
/src/*
!/src/app.js
!/src/engine.js
!/src/restart-guard.js
!/src/solver.js
!/src/generator.js
!/src/generator-worker.js
!/src/generation-client.js
!/src/service-worker.js
!/assets/
/assets/*
!/assets/style.css
!/assets/icons/
/assets/icons/*
!/assets/icons/icon.svg
!/assets/icons/icon-192.png
!/assets/icons/icon-512.png
